 html{
          font-size: 16px;
        }
        
        *{
          box-sizing:border-box;
          margin:0;
          padding:0;
        }

      

      body{
        max-width:1440px;
        margin:0 auto;
        background-color:rgb(107 77 57);
        
      }
      
      .container{
        max-width:1200px;
        width:100%;
        margin:0 auto;
        padding:0 120px;
        
      }

      .hero{
        box-sizing:border-box;
        background-image:url(assets/images/blake-wisz-t366j3tQz94-unsplash.jpg);
        height: 87vh;
        background-repeat:no-repeat;
        background-size:cover;
        background-position:center;
        color:white;
        font-weight:600;
        font-size:30px;
        /*
        display:flex;
        align-items:center;
        */

        /* position manipulation*/
        display: flex;
        align-items: flex-start;    
        justify-content: flex-start; 
        padding-top: 360px;          
        padding-left: 90px;          

        font-family: "Hina Mincho", serif;
        font-style: normal;
        font-weight:600;
      

      }

      header{
        background-color:rgb(85, 48, 23);
        width:100%;
        height:13vh;
        display:flex;
        font-family: "Hina Mincho", serif;
        font-style: normal;
        font-weight:800;
        justify-content: center;
        position:relative;
        align-items: center;
      }

      .title{
        font-size: 2.3rem;
        color:white;
        align-items:center;
        justify-content:center;
        margin:0px auto;
        text-decoration:none;
        letter-spacing: 0.4rem;
      }

        p.message{
          margin:0px;
          font-size: 2rem;
          letter-spacing: 0.4rem;
        }

        .about{
          padding:120px 0;

        }

        .pillarContainer{
          display:flex;
          margin:0px auto;
          justify-content: space-between;
          width: 80%;
        }

        .pillar{
          width:28%;
          color:white;
          /* margin:0px 40px; */
        }
        .pillar h3{
          letter-spacing: 0.4rem;
          line-height: 1.9rem;
        }


        .pillar p{
          letter-spacing: 0.3rem;
          line-height: 1.7rem;
        }

        section{
          margin-bottom:18rem;
        }

        section.about{
          padding-top: 0px;
          padding-bottom:50px;
        }

        .sectionTitle{
          display:flex;
          justify-content:center;
          margin:40px auto;
          font-family: "Hina Mincho", serif;
        font-style: normal;
          
        }

        .sectionTitle p{
          color:white;
          font-size:3.5vh;
          text-align: center;
          font-family: "Hina Mincho", serif;
          font-style: normal;
          font-size: 2rem;
          font-weight: 500;
          letter-spacing: 0.7rem;
          line-height: 2.8rem;
        }
        /*/////News Feed///////////////////////////////////////////////*/
        h3{
          text-align: center;
        }

        .newsFeedPlate{
          border:1px solid white;
          color:white;
          height: 15em;
          overflow:auto;
          background: #b5b5b5;
          color: #000000;
        }
        .container h3{
          color:white;
        }

        .articleContainer{
          border-bottom:0.5px solid white;
        }

        .articleContainer p{
          margin: 1.6rem 4.6rem;
        }

        .headLineContainer{
          display:flex;
          justify-content: center;
          position:relative;
          margin:5px;
          margin-top:170px;
        }

        .headLineContainer h3{
          letter-spacing: 0.23rem;
          line-height: 2.1rem;

        }

        h4{
          position:absolute;
          left:60%;
          top:50%;
          transform: translateY(-50%);
          color:white;
          font-size: 0.7rem;
          padding-left: 1rem;
        }

        .articleDate{
              color: #1816b4;
              font-size: 0.8em;
              font-weight: 600;
        }

/*  //////Grid Container///////////////////////////      */
        .items{
          border:solid 1px white;
          overflow:hidden;
          position: relative;
        }


      .gridContainer{
        border:1px solid white;
        width:100%;
        display: grid;
        grid-template-columns: 25% 25% 25% 25%   ;
        grid-template-rows: 50% 50%;
        border-radius:20px;
        overflow:hidden;
      }
      .textInfoContainer{
      color:white;
      display:flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      }
      .row{
      display:flex;
      justify-content:space-between;
      }

      .items img{
        width:100%;
        height:100%;
        object-fit:cover;
        display:block;
        transition:all 0.25s ease;
      }
      .items p{
        color:white;
      }

      .items:nth-child(8){
        background-image: url(assets/images/compressedImages/duong-ngan-vHODlfrcRcY-unsplash.jpg);
        object-fit: cover;
        display: flex;
        justify-content: center;
        align-items: center;

        background-size: 100%;  
        background-position: center;
        background-repeat: no-repeat;
        transition:all 0.25s ease;
      }
      .items:nth-child(8):hover{
        background-size: 110%;
      }


      .items:nth-child(8) a{
        text-decoration: none;
        color:yellow;
        font-family: "Hina Mincho", serif;
        font-style: normal;
        font-weight: 700;
        font-size: 1.25rem;
        z-index: 100;
        transition: all 0.25s ease;
      }

      .items:nth-child(8):hover a{
        font-size:1.5rem;
        text-decoration: underline;
      }


      .middle{
        position:absolute;
        top:50%;
        left:0px;
        /* transform: translate(-50%); */
        color:white;
        /* opacity:0; */
        transition:all 0.25s ease;
        width: 100%;
        opacity: 0;
        z-index: 1;
        font-weight: 440;
        padding: 0px 1rem 1.3rem 1rem;
        letter-spacing: 0.2rem;
        line-height: 2rem;
        font-size: 1.2rem;
      }

      .items:hover .middle{
        opacity:1;
      }
      .items:hover img{
        transform: scale(1.1);
      }
      .blackLayer{
        height: 100%;
        width: 100%;
        background: black;
        z-index: 0;
        position: absolute;
        top: 0%;
        left:0%;
        opacity:0;
        transition: all 0.25s ease;
      }
      .items:hover .blackLayer{
        opacity:0.3;
      }
/*/////footer/////////////////////////////////////////////////*/

      footer{
        background-color:rgb(85, 48, 23);
        height:6rem;
      }

      footer .container{
        height:100%;
        display: flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
      }

      footer .container p{
        color:white;
        text-align: center;
        font-weight: 100;
        font-size: 1.2rem;
        letter-spacing: 0.07rem;
        line-height: 1.7rem;
      }
    /*/////Contact Section////////////////////////////*/
      iframe {
    border-radius: 15px;
    height: 60vh;
    }

    .contact{
      margin-bottom:70px;
    }
    .textInfoContainer div p{
    font-size: 1.35rem;
    letter-spacing: 0.19rem;
    line-height: 2.1rem;

    }
    

    /*/////////////////////////////////*/
    .navBar{
      list-style-type:none;
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
      position: absolute;
      right:0;
      top:50%;
      transform: translateY(-50%);/*これめっちゃ使えるから覚えとこう*/
      
    }


    .navBar li a{
      text-decoration-line:none;
      color: white;
      padding: 2.4rem 0.5rem;
      transition:all 0.25s ease;
      letter-spacing: 0.23rem;
      font-size: 1rem;
    }

    .navBar li a:hover{
      background-color:rgb(134, 77, 38) ;
    }
  
    .imageContainer{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 60%;
    }


    .imageContainer img{
      width: 100%;
      object-fit: cover;
      display: block;
      height: 100vh;
    }

    .whoAreWe .container{
      display:flex;
    }

    .messageContainer{
       display: flex;
       flex-direction: column;
      justify-content: center;
      /* align-items: center; */
      padding: 0 1.6em;
      width: 40%;
    }
    .messageContainer h2{
      color: white;
      font-size: 1.6rem;
      font-family: "Hina Mincho", serif;
      font-style: normal;
      font-weight:600;
      margin: 2.6rem auto;
  }

    .messageContainer p{
      color:white;
      letter-spacing: 0.35rem;
      line-height: 3rem;
      font-size: 1rem;
    }
